*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
form{
    background: rgba(128, 128, 128, 0.288);
    padding: 0 20px;
    border-radius: 8px;
    
}
.box{
    display: flex;
}
.iconBox{
    background-color: #ff6200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 30px;
    border-radius: 3px;
    margin-right: 8px;
   
}
.iconBox:hover i{
    color: #fff;
}
.form{
    float: right;
}
.fl{
    color: #fff;
    
}
button{
    background-color: #ff6200 !important;
    color: #fff !important;
    outline: none !important;
}
button a{
    color: #fff !important;
    text-decoration: none;
}
@media (max-width:576px) {
    .iconBox{
        /* padding: 0; */
        /* display: flex; */
        width: 30px ;
        height: 40px;
        margin-right:8px ;
    }
    .iconBox i{
        font-size: 18px;
        text-align: center;
    }
}